/*MOBILE*/

@media (max-width: 992px) {
    .box-selection div {
        text-align: center;
    }

    .flex-container .title {
        margin: 0 auto;
        font-size: 20px;
        text-align: left;
    }

    .flex-container .title a.orange-link {
        font-size: 18px;
    }

    #paso1 .box-selection:first-child {
        margin-bottom: 20px;
    }

    #paso1 .box-selection:last-child {
        margin-left: 0 !important;
    }

    .large-button {
        height: 135px;
    }

    .btn-container {
        margin-top: 20px;
    }

    .big-gray-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .m-wrap{
        margin: 0px 20px;
    }
    
    .table_title{
        font-size: 19px;
    }
    
    .table-calculator td {
        font-size: 20px;
    }
    
    .large-button{
        padding: 32px 31px 27px;
    }
}

@media (max-width: 360px) {}
