@font-face {
    font-family: GillSans;
    font-weight: 100;
    src: url("fonts/GillSansMTPro-Light.otf") format("opentype");
}

@font-face {
    font-family: GillSans;
    font-weight: 400;
    src: url("fonts/GillSansMTPro-Book.otf") format("opentype");
}

@font-face {
    font-family: GillSans;
    font-weight: 600;
    src: url("fonts/GillSansMTPro-Medium.otf") format("opentype");
}

:root {
    --brand__color--white                         : #FFF;
    --brand__color--default                       : #303135;
    --brand__color--primary                       : #FCB116;
    --brand__color--secondary                     : #979797;
    --brand__color--tertiary                      : #979797;
    --brand__color--gray-dark-blue                : #596275;
    --brand__color--gray                          : #9B9C9F;
    --brand__color--gray-light                    : #F7F7F7;
    --brand__color--accent                        : #FCB116;
    --brand__color--danger                        : red;
    --brand__color--icon                          : #FCB116;
    --brand__button--font-size                    : 14px;
    --brand__button--line-height                  : 1.2;
    --brand__button--font-weight                  : 600;
    --brand__button--background                   : #FCB116;
    --brand__button--background-hover             : #FCB116;
    --brand__button--background-active            : #FCB116;
    --brand__button--color                        : #FFF;
    --brand__button--color-hover                  : #FFF;
    --brand__button--color-active                 : #FFF;
    --brand__button-icon--size                    : 20px;
    --brand__button-icon--color                   : #FFF;
    --brand__button-icon--color-hover             : #FFF;
    --brand__button-icon--color-active            : #FFF;
    --brand__button--text-decoration              : none;
    --brand__button--text-transform               : normal;
    --brand__button--min-width                    : auto;
    --brand__button--min-height                   : 40px;
    --brand__button--border-width                 : 2px;
    --brand__button--border-style                 : solid;
    --brand__button--border-color                 : transparent;
    --brand__button--border-color-hover           : transparent;
    --brand__button--border-color-active          : transparent;
    --brand__button--border-radius                : 20px;
    --brand__button--padding-y                    : 5px;
    --brand__button--padding-x                    : 25px;
    --brand__button--margin-right                 : 4px;
    --brand__button--margin-left                  : 0;
    --brand__button--margin-top                   : 4px;
    --brand__button--margin-bottom                : 4px;
    --brand__button--transition                   : color 0.3s ease;
    --brand__button--transform                    : none;
    --brand__button--transform-hover              : none;
    --brand__button--transform-active             : none;
    --brand-primary__button--background           : var(--brand__button--background);
    --brand-primary__button--background-hover     : var(--brand__button--background-hover);
    --brand-primary__button--background-active    : var(--brand__button--background-active);
    --brand-primary__button--color                : var(--brand__button--color);
    --brand-primary__button--color-hover          : var(--brand__button--color-hover);
    --brand-primary__button--color-active         : var(--brand__button--color-active);
    --brand-primary__button--border-color         : var(--brand__button--border-color);
    --brand-primary__button--border-color-hover   : var(--brand__button--border-color-hover);
    --brand-primary__button--border-color-active  : var(--brand__button--border-color-active);
    --brand-primary__button-icon--color           : var(--brand__button-icon--color);
    --brand-primary__button-icon--color-hover     : var(--brand__button-icon--color-hover);
    --brand-primary__button-icon--color-active    : var(--brand__button-icon--color-active);
    --brand-secondary__button--font-size          : var(--brand__button--font-size);
    --brand-secondary__button--line-height        : var(--brand__button--line-height);
    --brand-secondary__button--font-weight        : var(--brand__button--font-weight);
    --brand-secondary__button--background         : transparent;
    --brand-secondary__button--background-hover   : transparent;
    --brand-secondary__button--background-active  : transparent;
    --brand-secondary__button--color              : #FCB116;
    --brand-secondary__button--color-hover        : #aa7302;
    --brand-secondary__button--color-active       : #aa7302;
    --brand-secondary__button--border-color       : #FCB116;
    --brand-secondary__button--border-color-hover : #FCB116;
    --brand-secondary__button--border-color-active: #FCB116;
    --brand-secondary__button-icon--color         : #FCB116;
    --brand-secondary__button-icon--color-active  : #FCB116;
    --brand-secondary__button-icon--color-hover   : #FCB116;
    --brand-secondary__button--border-radius      : var(--brand__button--border-radius);
    --brand-secondary__button--padding-y          : var(--brand__button--padding-y);
    --brand-secondary__button--padding-x          : var(--brand__button--padding-x);
    --brand-secondary__button--text-transform     : var(--brand__button--text-transform);
    --brand-tertiary__button--font-size           : var(--brand__button--font-size);
    --brand-tertiary__button--line-height         : var(--brand__button--line-height);
    --brand-tertiary__button--font-weight         : var(--brand__button--font-weight);
    --brand-tertiary__button--background          : #F7F7F7;
    --brand-tertiary__button--background-hover    : #F7F7F7;
    --brand-tertiary__button--background-active   : #F7F7F7;
    --brand-tertiary__button--color               : #303135;
    --brand-tertiary__button--color-hover         : #18181a;
    --brand-tertiary__button--color-active        : #18181a;
    --brand-tertiary__button--border-color        : var(--brand__button--border-color);
    --brand-tertiary__button--border-color-hover  : var(--brand__button--border-color-hover);
    --brand-tertiary__button--border-color-active : var(--brand__button--border-color-active);
    --brand-tertiary__button-icon--color          : #FCB116;
    --brand-tertiary__button-icon--color-hover    : #FCB116;
    --brand-tertiary__button-icon--color-active   : #FCB116;
    --brand-tertiary__button--border-radius       : var(--brand__button--border-radius);
    --brand-tertiary__button--padding-y           : var(--brand__button--padding-y);
    --brand-tertiary__button--padding-x           : var(--brand__button--padding-x);
    --brand-tertiary__button--text-transform      : var(--brand__button--text-transform);
    --brand-tertiary__button--text-decoration     :
}

body {
    font-family: GillSans;
}

button {
    font-family: GillSans;
}

.p0 {
    padding: 0;
}

.mt20 {
    margin-top: 20px;
}

.mt62 {
    margin-top: 62px;
}

.text-center {
    text-align: center;
}

.pasos {
    position: relative;
    display: block;
    margin: 60px 0px;
}

.pasos h3 {
    font-family: GillSans;
    font-weight: 100;
    text-align: center;
    color: #5f6b74;
}

.pasos h3 .selection {
    color: #ffa300;
    font-weight: 400;
}

.box-selection {
    background: #f9f9f9;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 46px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 46px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 46px -12px rgba(0, 0, 0, 0.75);
}

.flex-container {
    justify-content: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 206px;
}

.flex-container .title {
    font-family: GillSans;
    font-weight: 400;
    color: #5b6770;
}

.flex-container .title a.orange-link {
    color: #ffa300;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
}

.m-wrap {
    margin: 0px 50px;
}

.total-row {
    position: relative;
    display: block;
    padding: 10px 0px 2px;
    text-align: right;
}

.total-row p,
.total-row div {
    font-family: GillSans;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 0;
}

.total-row p:first-child {
    color: var(--brand__color--primary);
    font-weight: 600;
    margin-right: 15px;
}

.divider-dotted {
    position: absolute;
    height: 27px;
    border: 1px solid var(--brand__color--primary);
}

.total-mt {
    font-weight: 400;
    margin-left: 15px;
}

.table_title {
    position: relative;
    display: inline-block;
    font-family: GillSans;
    font-weight: 400;
    color: #5f6b74;
    font-size: 25px;
    margin-left: 35px;
}

.table_title .grey {
    color: #5f6b74;
}

.table_title .light {
    font-weight: 100;
    color: #5f6b74;
}

.table-calculator {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.table-calculator th {
    font-family: GillSans;
    font-weight: 100;
    color: #f4a422;
    font-size: 20px;
}

.table-calculator td {
    font-family: GillSans;
    font-weight: 400;
    color: #5b6770;
    font-size: 23px;
}

.first-line {}

.first-line img {
    position: relative;
    margin-right: 20px;
    width: 60px;
}

.input_text {
    font-family: GillSans;
    border: none;
    text-align: center;
    width: 85px;
}

.input_text:focus {
    outline: 0px;
}

.oline {
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    width: 13%;
}

.plus {
    border-radius: 50%;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 4px 2.97px 0.03px rgba(0, 0, 0, 0.35);
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 18px !important;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.less {
    border-radius: 50%;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 4px 2.97px 0.03px rgba(0, 0, 0, 0.35);
    position: absolute;
    width: 17px;
    height: 17px;
    font-size: 16px !important;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    cursor: pointer;
    margin-top: 15px;
}

hr.dotted {
    border-top: 1px dashed #ffa300;
}

.large-button {
    position: relative;
    display: block;
    border-radius: 4px;
    background-color: #F6F6F6;
    padding: 52px 50px 47px;
    margin-bottom: 18px;
}

.large-button h3 {
    display: inline-block;
    font-weight: 400;
    text-align: left;
    font-size: 25px;
    margin: 0px;
}

.large-button h3::before {
    content: url(../img/arrow.png);
    margin-right: 23px;
}

.gray-btn {
    border-radius: 21px;
    box-shadow: 4.915px 3.441px 5.7px 0.3px rgba(59, 59, 53, 0.33);
    background: #f9f9f9;
    text-decoration: none !important;
    font-family: GillSans;
    font-size: 17px;
    padding: 10px 0px 6px;
    width: 94px;
    text-align: center;
    margin-right: 10px;
}

.orange-btn {
    border-radius: 21px;
    box-shadow: 4.915px 3.441px 5.7px 0.3px rgba(59, 59, 53, 0.33);
    background: #ffa300;
    text-decoration: none !important;
    font-family: GillSans;
    font-size: 17px;
    padding: 10px 0px 6px;
    color: white !important;
    width: 94px;
    text-align: center;
    margin-right: 10px;
}

.orange-btn:hover {
    background: #ffa300;
    color: white;
    text-decoration: none;
}

.gray-btn:hover {
    background-color: rgb(158, 158, 158);
    color: white;
    text-decoration: none;
}

.btn-container {
    display: inline-block;
    float: right;
    margin-right: 50px;
}


.big-gray-btn {
    font-family: GillSans;
    color: white;
    background-color: rgb(158, 158, 158);
    box-shadow: 0px 5px 3.96px 0.04px rgba(0, 0, 0, 0.35);
    width: 165px;
    text-decoration: none !important;
    font-size: 20px;
    border-radius: 20px;
    padding: 9px 0px 3px;
    margin-right: 51px;
}

.big-orange-btn {
    font-family: GillSans;
    color: white;
    background-color: #ffa300;
    box-shadow: 0px 5px 3.96px 0.04px rgba(0, 0, 0, 0.35);
    width: 165px;
    text-decoration: none !important;
    font-size: 20px;
    border-radius: 20px;
    padding: 9px 0px 3px;
}

.md-orange-btn {
    font-family: GillSans;
    color: white;
    background-color: #ffa300;
    -webkit-box-shadow: 0px 5px 3.96px 0.04px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 3.96px 0.04px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 3.96px 0.04px rgba(0, 0, 0, 0.35);
    width: 135px;
    text-decoration: none !important;
    font-size: 16px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    padding: 9px 0px 3px;
}

.md-gray-btn {
    font-family: GillSans;
    color: white;
    background-color: rgb(158, 158, 158);
    box-shadow: 0px 5px 3.96px 0.04px rgba(0, 0, 0, 0.35);
    width: 135px;
    text-decoration: none !important;
    font-size: 15px;
    border-radius: 20px;
    padding: 9px 0px 3px;
    margin-right: 51px;
}

.big-gray-btn:hover,
.gray-btn:hover {
    background: #f9f9f9;
    text-decoration: none;
    color: #4d4e53;
}

.big-orange-btn:hover {
    background: #f9f9f9;
    text-decoration: none;
    color: #4d4e53 !important;
}

#puertasyventanas {
    display: none;
}

#perfiles {
    display: none;
}

.table-esquinas {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 18px;
}

.table-esquinas th {
    font-family: GillSans;
    font-weight: 100;
    color: #f4a422;
    font-size: 20px;
}

.table-esquinas td {
    font-family: GillSans;
    font-weight: 400;
    font-size: 23px;
}

/* Tooltip container */

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.form-cta input,
.form-cta select {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.form-cta input.error,
.form-cta select.error{
    border-bottom: 1px solid red !important;
}

.form-cta select {
    background: transparent;
    color: #757575;
    font-family: GillSans;
    font-size: 16px;
    font-weight: 100;
    width: 92%;
}

.form-cta input:focus,
.form-cta select:focus {
    outline: 0px;
}

.form-cta input.w90 {
    width: 90%;
}

.btn-header {
    color: #636f77;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.btn-header:hover {
    text-decoration: none;
    color: #636f77;
}

.requeridos {
    font-size: 12px;
    color: #808080;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

.requeridos.error{
    color: red;
    display: none;
}

.requeridos.email{
    color: red;
    display: none;
}

.select-group{
    margin-top: 20px;
    padding-left: 15px;
}

.select-group .custom-control{
    margin-bottom: 15px;
}

.select-group label{
    margin-left: 12px !important;
}

.select-group .pretty{
    display: block !important;
    margin-bottom: 15px;
}

.buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.item{
    width: 100%;
}

.item-1 a{
    float: right;
    margin-right: 0 !important;
}

.item .big-orange-btn{
    line-height: 58px;
    float: left;
}

.terminos-y-condiciones{
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    width: 94%;
    margin-top: 16px;
}

.terminos-y-condiciones label{
    font-size: 12px;
    color: #808080;
    cursor: pointer;
}

.terminos-y-condiciones .item:first-child{
    padding-top: 4px;
}

.tyc-requerido{
    display: none;
}

#gracias{
    position: relative;
    display: block;
    padding-top: 10%;
}

#gracias .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#gracias .contenedor{
    display: grid;
    grid-template-columns: 1fr;
}

#gracias .full-width{
    display: flex;
    align-items: center;
    justify-content: center;
}

#gracias h2{
    font-family: GillSans;
    font-weight: 100;
    text-align: center;
    color: #5f6b74;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 25px;
}

#gracias h4{
    font-family: GillSans;
    font-weight: 100;
    text-align: center;
    color: #5f6b74;
    font-size: 18px;
    margin-bottom: 0px;
}

#gracias img{
    width: 80px;
}

.primary {
    color: var(--brand__color--primary) !important;
}